In [1]:
stu = {22,33,22,44,22,44,66}
for elem in stu:
    print(elem)

33
66
44
22

In [ ]:
for a in range(9):
    print(a,"Zee")

In [10]:
city = "Pakistan" " New york"
for char in city:
    print(char)

P
a
k
i
s
t
a
n

N
e
w

y
o
r
k

In [12]:
city = ["Karachi", "KPK","Sindh"]
for cities in city:
    print(cities)

Karachi
KPK
Sindh

In [20]:
for a in range(2,10,4):
    if a==10:
        break
        print(a)

In [3]:
table = int(input("enter table"))
for a in range(1,11):
    print(f"{table} * {a} = {table*a}")

enter table3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
stu = "pakistan"
for a in():
    for char in stu:
        print(a,char)

In [6]:
tab = int(input("table"))
for tab in range(2,tab+1):
    for num in range(1,11):
        print(f"{tab} * {num} = {tab*num}")

table6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60