In [11]:
for a in range(5):
    print("inner circle")
    for char in "zain":
        print(a,char)

inner circle
0 z
0 a
0 i
0 n
inner circle
1 z
1 a
1 i
1 n
inner circle
2 z
2 a
2 i
2 n
inner circle
3 z
3 a
3 i
3 n
inner circle
4 z
4 a
4 i
4 n

In [14]:
tn = int(input("enter number"))
for t in range(1,11):
    print(f"{tn} * {t} = {tn*t}")

enter number44
44 * 1 = 44
44 * 2 = 88
44 * 3 = 132
44 * 4 = 176
44 * 5 = 220
44 * 6 = 264
44 * 7 = 308
44 * 8 = 352
44 * 9 = 396
44 * 10 = 440